<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>

<div class="articles">

  <div class="articles__left">
    <app-big-card
      photo="../../assets/imagem-principal.png"
      cardTitle="A vida precisa de movimento"
      cardDescription="Faça do movimento uma parte da sua vida diária com exercícios curtos e fáceis."
      ></app-big-card>
  </div>

  <div class="articles__right">
    <app-small-card
    smallCardPhoto="../../../assets/saudavel.png"
    smallCardTitle="Sua alimentação está em dia?"
    smallCardDescription="Escolha opções saudáveis como frutas e vegetais em vez de alimentos processados e gordurosos, evitando assim o acúmulo de gordura e o risco de doenças crônicas."
    ></app-small-card>

    <app-small-card
    smallCardPhoto="../../../assets/graos.png"
    smallCardTitle="Grãos nutritivos para inserir na sua alimentação"
    smallCardDescription="Conheça sobre as propriedades da aveia, linhaça, chia, quinoa, amaranto e lentilha."
    ></app-small-card>

    <app-small-card
    smallCardPhoto="../../../assets/detox.png"
    smallCardTitle="Detox corporal"
    smallCardDescription="Elimina excessos de toxinas, diminui retenção de líquidos e celulites, além de melhorar a autoestima."
    ></app-small-card>

  </div>

</div>

<div class="footer">
  <hr>
  <p>Developer By Biiars00</p>
</div>
